*{
    font-family: "Roboto Slab", serif;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('../img/fundologin.jpg') center center/cover no-repeat;
}
#username{
    border: 0;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 4px;
}
#password{
    border: 0;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 4px;
}
.login-container {
    width: 300px;
    padding: 20px;
    border: 3px solid #e4ece446;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #010f0277;
}
b{
    display: flex;
    scale: 90%;
    align-items: center;
    width: 160px;
    height: 250px;
}

form {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

label {
    margin-bottom: 7px;
}
input {
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
}

button {
    padding: 12px;
    margin-top: 10px;
    background-color: #323272;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    color:  #000000;
    transform: scale(1.1); 
    transition: 200ms;
}

a{
    scale: 100%;
    text-align: center;
    color: #323272;
    text-decoration: none;
}
a:hover{
    color: white;
    transition: 400ms;
    
}