<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contaspfpj.css">
    <title>TrasHealth</title>
    link rel="icon" href="./img/logo.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <div class="login-container">
        <form action="#">
            <b>
                <a class="a" href="/index.html"><img src="/img/logo.png" alt=""></a>
            </b>
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" placeholder="Digite seu nome aqui" required>
            <label for="password">E-mail:</label>
            <input type="email" id="password" name="email" placeholder="Digite seu E-mail aqui" required>
            <label for="username">CPF:</label>
            <input type="number" id="username" name="CPF" placeholder="Digite seu CPF aqui" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha aqui" required>
            <button type="submit">Criar</button>
        </form>
    </div>
</body>

</html>