<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script type="module" src="/java/login.js" defer></script>
    
    <title>TrasHealth</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
</head>

<body>
    <div class="cadastro-form">
        <b>
            <a class="a" href="./index.html"><img src="./img/logo.png" alt=""></a>
        </b>
        <form id="form-cadastro">


            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required placeholder="Digite seu e-mail aqui" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required placeholder="Digite sua senha aqui" required>
            <div class="slaoq2"><a href="./recsenha.html">Perdeu sua conta?</a></div>
            <input type="submit" value="entrar" id="entrar">
        </form>
        <div class="slaoq"><a href="./register.html">Crie sua conta </a></div>
    </div>
</body>

</html>