<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/perfil.css">
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
    <title>TrasHealth</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
</head>
<header class="header1">
    <a href="/index.html" class="infos"><img src="./img/logo3.png" alt="" class="logo"></a>
    <a href="/qmsomos.html" class="infos">QUEM SOMOS NOS?</a>
    <a href="/mapa.html" class="infos">MAPA</a>
    <a href="/vitrine.html" class="infos">VITRINE</a>
    <a href="/sac.html" class="infos">SAC</a>
    <a href="/login.html" class="botao">ENTRAR</a>
</header>

<body>
    <sec class="section1">
        <div class="infosperf">
            <div class="txt">
                <h1 class="titulo">
                    Informações:
                </h1>
                <h2 class="txt-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi labore autem
                    rerum rem, ex voluptatum,
                    quos distinctio modi minima deserunt quia enim aspernatur. At officiis neque fuga perferendis
                    cupiditate
                    omnis!

                </h2>
            </div>
            <div class="txt">
                <h1 class="titulo">
                    Sobre a empresa:
                </h1>
                <h2 class="txt-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi labore autem
                    rerum rem, ex voluptatum,
                    quos distinctio modi minima deserunt quia enim aspernatur. At officiis neque fuga perferendis
                    cupiditate
                    omnis!

                </h2>
            </div>
            <div class="txt">
                <h1 class="titulo">
                    ServiçosS:
                </h1>
                <h2 class="txt-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi labore autem
                    rerum rem, ex voluptatum,
                    quos distinctio modi minima deserunt quia enim aspernatur. At officiis neque fuga perferendis
                    cupiditate
                    omnis!

                </h2>
            </div>
            <a href="" class="">
                <div class="mais">
                    +
                </div>
            </a>
        </div>
        <div class="sla">
            <div class="pessoal">
                <div class="imagem-pessoal">

                </div>
            </div>
            <div class="nome">
                Lorem ipsum dolor sit amet consectetur
            </div>
        </div>
    </sec>
</body>

</html>