<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login2.css">
    <link rel="icon" href="./images/logo3.png" type="image/x-icon">
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
    <title>TrasHealth</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
    <link rel="icon" href="./img/logo.png" type="image/x-icon">

</head>

<body>
    <div class="login-container">
        <form action="#">
            <b>
                <a class="a" href="./index.html"><img src="./img/logo.png" alt=""></a>
            </b>
            <label for="username">E-mail:</label>
            <input type="mail" id="username" name="username" placeholder="Digite seu E-mail aqui" required>
            <button type="submit">Enviar</button>

        </form>
    </div>
</body>

</html>