<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script type="module" src="/java/resgister.js" defer></script>
    <link rel="icon" href="./img/logo.png" type="image/x-icon">

    <title>TrasHealth</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="cadastro-form">
        <b>
            <a class="a" href="./index.html"><img src="./img/logo.png" alt=""></a>
        </b>
        <form id="form-cadastro">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required placeholder="Digite seu nome aqui" required >
            
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required placeholder="Digite seu e-mail aqui" required>
            
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required placeholder="Digite sua senha aqui" required>
            
           <input type="submit" value="Cadastrar" id="submit">
        </form>
    </div>
</body>
</html>