<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrasHealth</title>
    <link rel="icon" href="/img/logo3.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/tipoconta.css">

</head>

<body>
    <a href="./contapf.html"><img src="/img/cpf.png" alt=""></a>
    <b><img src="/img/linha.png" alt=""></b>
    <a href="./contapj.html"><img src="/img/cnpj.png" alt=""></a>
</body>

</html>