<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/vitrine.css">
    <title>TrasHealth</title>
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
</head>
<header class="header1">
    <a href="/index.html" class="infos"><img src="./img/logo3.png" alt="" class="logo"></a>
    <a href="/qmsomos.html" class="infos">QUEM SOMOS NOS?</a>
    <a href="/mapa.html" class="infos">MAPA</a>
    <a href="/vitrine.html" class="infos">VITRINE</a>
    <a href="/sac.html" class="infos">SAC</a>
    <a href="/login.html" class="botao">ENTRAR</a>
</header>

<body>
    <section class="section">
      <a href="">
        <div class="box1"></div>
      </a>
      <a href="">
        <div class="box2"></div>
      </a>
      <a href="">
        <div class="box3"></div>
      </a>
      <a href="">
        <div class="box4"></div>
      </a>
      <a href="">
        <div class="box5"></div>
      </a>
      <a href="">
        <div class="box6"></div>
      </a>
      <a href="">
        <div class="box7"></div>
      </a>
    </section>
    <section class="carro">
  
      <div class="carrossel">
        <div class="carrossel-conteudo">
            <div class="item"><a href=""><img src="./img/RECOLHO LIXO DE SEGUNDA A SEXTA.png" alt="Anúncio 1"></a></div>
            <div class="item"><a href=""><img src="./img/1 ton.png" alt="Anúncio 2"></a></div>
            <div class="item"><a href=""><img src="./img/rs.png" alt="Anúncio 3"></a></div>
        </div>
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
    </div>
  
    <script src="./java/script.js"></script>
    </section>
    <section class="section2">
      <a href="">
        <div class="box21"></div>
      </a>
      <a href="">
        <div class="box22"></div>
      </a>
      <a href="">
        <div class="box23"></div>
      </a>
      <a href="">
        <div class="box24"></div>
      </a>
      <a href="">
        <div class="box25"></div>
      </a>
    </section>
  </body>
  
  </html>